.app-nav {
    display: flex;
    justify-content: center;
    background-color: #00BCD4;
    padding: 1em;

    a {
        color: #545e6f;
        padding: 0 3em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &.active {
            font-weight: bold;
            color: #ffffff;
        }
    }

}