.calendar {

    &-head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;

        .main {
            font-size: 18px;
            padding: 0 1em;
            letter-spacing: 1px;
        }

        .button {
            padding: 0.25em 1em 0.4em;
            font-size: 16px;
        }

    }

}